body{
font-size:small;
font-family:sans-serif;
height: 100%;
width:100%;
margin:0px;
display: block;
}

.nav_links{
    width:inherit;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    padding:5px;
}

.nav_links a{
    padding-top: 10px;
    padding-bottom:10px;
    padding-right: 15px;
    text-decoration: none;
    color:rgb(39, 39, 39);
    margin-right:10px;
}

.nav_links a:hover{
   text-decoration: underline;
}

.nav_links .sign{
    color:rgb(255, 255, 255);
    padding-top:5px;
    padding-bottom:5px;
    border-style:none;
    margin-right:20px;
    padding-left:10px;
    padding-right:10px;
    background-color:rgb(0, 102, 255);
}

.logo_div img{   
    width:290px;
}

.logo_div{
    display:flex;
    justify-content:center;
    padding-top: 150px;
}

.search{
    display:flex;
    justify-content: center;
}

.input{
width:580px;
height:45px;
font-size: 17px;
font-family: 'Times New Roman', Times, serif;
padding: 1px 10px 1px 40px;
border-radius:30px;
border-width: 0.3px;
border-top-width: 0.4px;
border-top-style:outset;
border-left-width: 0.4px;
border-left-style:outset;
margin:auto;
margin-top:30px;
}

.input:hover{
    box-shadow: 0px 0px 10px 0.1px rgb(209, 209, 209) ;
}

.butts{
    display:flex;
    justify-content:center;
    margin-top:30px;
    margin-bottom:20px;
}

.button1{
    padding:7px 10px 7px 10px;
    color:rgb(71, 71, 71);
    font-size:14px;
    font-family:sans-serif;
    background-color: rgb(248, 246, 246);
    border-style:none;
    margin-right:10px;
}

.button2{
    padding:7px 10px 7px 10px;
    color:rgb(71, 71, 71);
    font-size:14px;
    font-family:sans-serif;
    background-color: rgb(248, 246, 246);
    border-style:none;
    margin-left:15px;
}


.button1:hover{
    box-shadow: 0.4px 0.3px 3px grey;
    transition: unset;
}
.button2:hover{
    box-shadow: 0.4px 0.3px 3px grey;
    transition: unset;
}

.text{
    font-size:13px;
    display:flex;
    justify-content:center;
    margin-top:15px;
}

.text p a{
    margin-right:10px;
    text-decoration:none;
    color:rgb(25, 16, 148);
}
.text p a:hover{
    text-decoration: underline;
}
footer{
    position:absolute;
    background-color: rgb(245, 245, 245);
    bottom:0px;
    width:100%;
}
.foot{
    display:flex;
    justify-content: space-between;
    padding:10px;
    font-size: 14px;
    
}

.foot a{
    color:grey;
    text-decoration:none;
}
.foot a:hover{
    text-decoration:underline;
}

.nav_right a{
    margin-left:15px;
}
.nav_left a{
margin-right:15px;
}

main{
position:absolute;
top:10%;
left:25%;
margin:5px;
width:inherit;
}

.icon{
position:absolute;
top:65%;
left:2%;
}

.icon img{
width: 20px;
display:flex;
justify-content: center;

}





